<div class="banner-content">
  <div class="banner" style="background: url('https://images.pexels.com/photos/878992/pexels-photo-878992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;">
  <h1>Fancy cocktails</h1>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="row">
        <!-- insert <div class="card"> -->
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4" style="margin-bottom: 20px;">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="card-category"></div>
            <div class="card-description">
            <p class="cocktail-name"><%= cocktail.name %></p>
            </div>
            <%= link_to "", cocktail_path(cocktail), class:"card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


