<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <%= link_to 'add a cocktail', new_cocktail_path(@cocktail), class: "navbar-wagon-item navbar-wagon-link" %>
</div>
</div>
